.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  
}
.ui-progressbar {
  position: relative;
}
#progressbar {
  background: #f5fffa;
}
.ui-progressbar .ui-progressbar-value {
  margin: 0;
}
.progress-label {
  position: absolute;
  text-align: center;
  width: 100%;
  color: #cccccc;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}
.ui-widget-header {
  background: #ec2528;
}
p {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 26px;
}
.well {
  margin-top: 20px;
}